# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Chipo Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-fjc %u"
GenericName[en_US]=Chipo Wallet
GenericName=Chipo Wallet
Icon=electrum
Name[en_US]=Electrum Chipo Wallet
Name=Electrum Chipo Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/chipo;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-fjc --testnet %u"
Name=Testnet mode
